
<h1><%= data.forms[0].name %></h1>
<h4>Abilities:</h4>
<%= data.abilities[0].ability.name %>
<br>
<%= data.abilities[1].ability.name %>

<h4>Base Experience:</h4>
<%= data.base_experience %>

<h4>Forms:</h4>
<%= data.forms[0].name %>

<h4>Height:</h4>
<%= data.height%>